<div class="insurance-list-wrap">
    <div class="container">
        <div class="insurance-inner-wrap">
            <div class="view-and-print">
                <span class="switch">
                    Table <input 
                        class="display-type" 
                        (change)="isCard = !isCard" 
                        type="checkbox"
                        checked="true"
                    /> Cards
                </span>
                
                <span class="print">
                    <button class="button" (click)="Window.print()">Print</button>
                </span>
            </div>


            <div *ngIf="isLoading" style="text-align: center;">
                <!-- Loading CSS goes here -->
                <h2>Loading...</h2> 
            </div>
            <div *ngIf="!isLoading">
                <!-- Also change this Title -->
                <h1>Insurance Report - 
                    {{ insuranceList[0].maker }}
                    {{ insuranceList[0].model }}
                    {{ insuranceList[0].year_model }}
                </h1>

                <div *ngIf="isCard">
                    <app-cards [dataList]="insuranceList"></app-cards>
                </div>
                <div *ngIf="!isCard">
                    <app-table [dataList]="insuranceList"></app-table>
                </div>
            </div>
        </div>
    </div>
</div>