<div class="insurance-table-wrapper">
    <table>
        <thead>
            <tr>
                
                <th scope="col">Description</th>
                <th scope="col">Price</th>
                <th scope="col">From</th>
                <th scope="col">To</th>
                <th scope="col">Market Value</th>
                <th scope="col">Min. Sum</th>
                <th scope="col">Max. Sum</th>
                <th scope="col">Screen Checked</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of dataList">
                <td sc data-label="Description">{{ item.description }}</td>
                <td data-label="Price">{{ item.new_price | currency:'THB' : 'symbol-narrow' : '.0-2' }}</td>
                <td data-label="From">{{ item.from_date | date: 'shortDate'}}</td>
                <td data-label="To">{{ item.to_date | date: 'shortDate' }}</td>
                <td data-label="Market Value">{{ item.market_value | currency:'THB' : 'symbol-narrow' : '.0-2' }}</td>
                <td data-label="Min. Sum">{{ item.min_sum_insure | currency:'THB' : 'symbol-narrow' : '.0-2' }}</td>
                <td data-label="Max. Sum">{{ item.max_sum_insure | currency:'THB' : 'symbol-narrow' : '.0-2' }}</td>
                <td data-label="Screen Checked">{{ item.screen_checked_flag | screenChecked }}</td> 
                <!-- Use pipe above to show ✓ or X -->
            </tr>
        </tbody>
    </table>
</div>