ul {
	margin-top: 0;
	li {
		list-style: none;
		margin-bottom: 5px;
		// padding: 10px;
		border: 1px solid red;
		text-align: center;
		width: 300px;
		cursor: pointer;

		span {
			padding: 10px;
		}
	}
}
