<div class="card" *ngFor="let item of dataList">
    <div class="card-body">
        <div class="card-header">
            <div class="title desc">{{item.description}}</div>
            <div class="price row-flex flex-space-around">
                <div><span>Price:</span> {{ item.new_price | currency:'THB' : 'symbol-narrow' : '.0-2' }}</div>
                <div>
                    <span>Market Value:</span> {{ item.market_value | currency:'THB' : 'symbol-narrow' : '.0-2' }}
                </div>
            </div>
        </div>
        <hr>
        
        <div class="value row-flex flex-space-around">
            <div class="insured">
                <div class="title">
                    Insured
                </div>
                <div class="row-flex flex-space-between">
                    <div class="insured-date">
                        <div>
                            From:
                        </div>
                        <div>
                            {{ item.from_date | date: 'shortDate'}}
                        </div>
                    </div>
                    <div class="insured-date">
                        <div>
                            To:
                        </div>
                        <div>
                            {{ item.to_date | date: 'shortDate' }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="insured">
                <div class="title">
                    Insured Sum
                </div>
                <div class="row-flex flex-space-between">
                    <div class="insured-sum">
                        <div>
                            Min. Sum
                        </div>
                        <div>
                            {{ item.min_sum_insure | currency:'THB' : 'symbol-narrow' : '.0-2'}}
                        </div>
                    </div>
                    <div class="insured-sum">
                        <div>
                            Max. Sum
                        </div>
                        <div>
                            {{ item.max_sum_insure | currency:'THB' : 'symbol-narrow' : '.0-2'}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="insured">
                <div class="title">
                    Screen Checked
                </div>
                <div class="margin-top-25 large">
                    {{ item.screen_checked_flag | screenChecked }}
                </div> 
            </div>
        </div>
    </div>
</div>
