@import "../../../variables.scss";

.card {
	position: relative;
	display: flex;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border-top: 4px solid $primary-color;
	border-radius: 0 0 .25rem .25rem;
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	margin-bottom: 30px;
	font-size: 1rem;
	font-weight: 300;
	color: #6d6a6a;
	text-align: center;

	.title {
		color: #111;
		margin-bottom: 1rem;
		font-size: 1.2rem;
	}

	.card-body {
		flex: 1 1 auto;
		padding: 1.35rem;
	}

	.price span {
		color: #000000;
	}

	hr {
		margin-top: 1.3rem;
		margin-bottom: 1.3rem;
		border: 0;
		border-top: 1px solid rgba(0, 0, 0, .1);
	}
}

.card-header {
	.desc {
		font-weight: 400;
		font-size: 1.5rem;
	}
}

@media screen and (min-width: 0px) {
	.card .row-flex {
		flex-direction: column;
	}

	.card .value {
		margin-bottom: 1rem;

		.insured {
			margin-right: 15px;
			margin-bottom: 1.5rem;

			.insured-date:not(:last-child),
			.insured-sum:not(:last-child) {
				margin-right: 0;
				margin-bottom: 10px;
			}
			.insured-date div:first-child,
			.insured-sum div:first-child {
				color: #000000;
			}
		}
	}
}

.margin-top-25 {
	margin-top: 25px;
}

@media screen and (min-width: 556px) {
	.card .row-flex {
		flex-direction: row;
	}

	.card .value {
		.insured {
			.insured-date:not(:last-child),
			.insured-sum:not(:last-child) {
				margin-right: 25px;
			}
		}
	}
}

@media screen and (min-width: 991px) {
	.card {
		width: 70%;
		margin: auto;
		margin-bottom: 50px;
	}
}

@media print {
	.card {
		position: static !important;
		float: none !important;
		border: 1px solid #ccc;
		color: #6d6a6a;
		-webkit-print-text-size-adjust: 14px;
		box-shadow: none;
		margin-bottom: 20px;

		&:nth-child(3n) {
			// break-after: always;
			page-break-after: always;
		}
	}
	.card .value {
		margin-bottom: 0;

		.insured {
			margin-right: 15px;
			margin-bottom: 0;

			.insured-date:not(:last-child),
			.insured-sum:not(:last-child) {
				margin-right: 25px;
				margin-bottom: 10px;
			}
			.insured-date div:first-child,
			.insured-sum div:first-child {
				color: #000000;
			}
		}
	}
}
