<!--The content below is only a placeholder and can be replaced.-->
<div>
  <form [formGroup]="queryForm" (ngSubmit)="onSubmit(queryForm.value)" autocomplete="off">
    <div class="form-group" [ngClass]="{'error': !validateBrand() }" (blur)="disableDropdown('brand')">
      <label for="brand">Brand: </label>
      <em *ngIf="!validateBrand()">Required*</em>
      <br />
      <input 
        formControlName = "brand" 
        class="form-control" 
        id="brand" type="text" 
        placeholder="Brand Name..." 
        (focus)="enableDropdown('brand')"
      />

      <app-list-options 
        *ngIf="brandList && focusedElement['brand']" 
        [listItems]="brandList" 
        (valueSelected)="fetchModels(brand)"
      ></app-list-options>

    </div>

    <div class="form-group border" [ngClass]="{'error': !validateModel() }" (blur)="disableDropdown('model')">
      <label for="model">Model: </label>
      <em *ngIf="!validateModel()">Required*</em>
      <br />
      <input 
        formControlName = "model" 
        class="form-control" 
        id="model" 
        type="text" 
        placeholder="Model Name..." 
        (focus)="enableDropdown('model')"
      />

      <app-list-options 
        *ngIf="modelList && focusedElement['model']" 
        [listItems]="modelList" 
        (valueSelected)="fetchMakeYears()"
      ></app-list-options>
    </div>

    <div class="form-group" [ngClass]="{'error': !validateMake() }">
      <label for="make">Make: </label>
      <em *ngIf="!validateMake() && queryForm.controls.make.errors.required">Required*</em>
      <em *ngIf="!validateMake() && queryForm.controls.make.errors.pattern">Make must start with a Year*</em>
      <br />
      <input 
        formControlName = "make"
        class="form-control"
        id="make"
        type="text"
        placeholder="Make Year..."
        (focus)="enableDropdown('make')"
        (blur)="disableDropdown('make')"
      />
      <app-list-options 
        *ngIf="makeList && focusedElement['make']"
        [listItems]="makeList"
      ></app-list-options>
    </div>

    <div class="form-group">
      <button type="submit">Search Records</button>
    </div>

  </form>
</div>

<router-outlet></router-outlet>
