<!-- Always display header -->
<header>
    <div class="container">
        <div class="header-inner-wrap">
            <span class="brandName"> <a routerLink=""> <strong> Insured </strong> </a> </span>
            <nav>
                <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Report</a>
                <a routerLink="/upload" routerLinkActive="active">Upload</a>
                <a routerLink="/download" routerLinkActive="active">Download</a>
            </nav>
        </div>
    </div>
</header>

<!-- Display this based on URL -->
<router-outlet></router-outlet>