header {
	padding: 10px 20px;
	background-color: #404040;
	box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.2);

	.header-inner-wrap {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		a {
			color: #f7f7f7;
		}
		nav a {
			color: #ccc;

			&:not(:last-child) {
				margin-right: 25px;
			}

			&.active {
				color: #fff;
			}
		}
	}
}

em {
	color: #e05c65;
}

.border {
	border: 1px solid green;
}

.form-group {
	margin: 10px;
}

.input-container .suggestions-container {
	z-index: 2;
}
