<app-search-form (formSubmitted)="displayInsuranceSales($event)"></app-search-form>
<!-- This app search form @Output() values necessary to fetch insurance sales report (brandId, model, make) -->

<!-- Use *ngIf here, if app-search-form returned value is received, this will not be shown -->

<div class="initial-bg-wrapper">
    <div class="container">
        <div *ngIf="!salesValueReceived">
            <div class="inital-bg">
                <!-- <img src="../../assets/images/car-search.png" alt="car search background"> -->
            </div>
        </div>
    </div>
</div>

<app-list-insurance *ngIf="salesValueReceived" [info]="formInfo"></app-list-insurance>
<!-- This takes an input = output from app-search-form -->