.inital-bg {
	background-image: url(../../assets/images/car-search.png);
	height: 450px;
	background-repeat: no-repeat;
	background-position: center;
}

@media screen and (max-width:991px){
	.inital-bg{
		background-size: contain;
	}
}