<div class="formContainer">
  <div class="container">
    <form [formGroup]="queryForm" (ngSubmit)="onSubmit(queryForm.value)" autocomplete="off">
    
      <div class="form-group" 
        [ngClass]="{'error': validateBrand() }">
        <div class="ng-autocomplete brand">
          <!-- <em *ngIf="queryForm.controls.brand.invalid && (queryForm.controls.brand.touched || queryForm.controls.brand.dirty)">*</em> -->
          <ng-autocomplete #brandRef
            formControlName="brand"
            [data]="brandList"
            [searchKeyword]="searchKeyword.brand"
            (selected)='fetchModels($event)'
            (inputChanged)='onChangeSearch($event)' 
            (inputFocused)='onFocused("brand")'
            [itemTemplate]="brandTemplate"
            [notFoundTemplate]="brandNotFoundTemplate"
            notFoundText="No Match Found"
            placeHolder="Select Brand..."
            required="true"
            [isLoading]="isLoading.brand"
            (inputCleared)="clearInputField('brand')"
          >                                 
          </ng-autocomplete>
          
          <ng-template #brandTemplate let-item>
            <a [innerHTML]="item.default_name">{{item.default_name}}</a>
          </ng-template>

          <ng-template #brandNotFoundTemplate let-notFound>
            <div [innerHTML]="notFound"></div>
          </ng-template>
        </div>

        <em *ngIf="inputError.brand ? true : false">Select Brand from suggestions!</em>
      </div>

      <div class="form-group" [ngClass]="{'error': validateModel() }">
        <div class="ng-autocomplete model">
          <!-- <em *ngIf="queryForm.controls.model.invalid && queryForm.controls.model.touched">*</em> -->
          <ng-autocomplete #modelRef
            formControlName="model"
            [data]="modelList"
            [searchKeyword]="searchKeyword.model"
            (selected)='fetchMakeYears($event)'
            (inputChanged)='onChangeSearch($event)' 
            (inputFocused)='onFocused("model")'
            [itemTemplate]="modelTemplate"
            [notFoundTemplate]="modelNotFoundTemplate"
            notFoundText="No Match Found"
            placeHolder="Select Model..."
            [isLoading]="isLoading.model"
            (inputCleared)="clearInputField('model')"
          >                                 
          </ng-autocomplete>
          
          <ng-template #modelTemplate let-item>
            <a [innerHTML]="item['model_group']"></a>
          </ng-template>

          <ng-template #modelNotFoundTemplate let-notFound>
            <div [innerHTML]="notFound"></div>
          </ng-template>
        </div>

        <em *ngIf="inputError.model ? true : false">Select Model from suggestions!</em>
      </div>

      <div class="form-group" [ngClass]="{'error': validateMake() }">
        <div class="ng-autocomplete makeDropdown">
          <!-- <em *ngIf="queryForm.controls.make.invalid && queryForm.controls.make.touched">*</em> -->
          <ng-autocomplete #makeRef
            formControlName="make"
            [data]="makeList"
            [searchKeyword]="searchKeyword.make"
            (selected)="makeSelected($event)"
            (inputChanged)='onChangeSearch($event)' 
            (inputFocused)='onFocused("make")'
            [itemTemplate]="makeTemplate"
            [notFoundTemplate]="makeNotFoundTemplate"
            notFoundText="No Match Found"
            [isLoading]="isLoading.make"
            placeHolder="Select Make Year..."
          >                                 
          </ng-autocomplete>
          
          <ng-template #makeTemplate let-item>
            <a [innerHTML]="item.year_model"></a>
          </ng-template>

          <ng-template #makeNotFoundTemplate let-notFound>
            <div [innerHTML]="notFound"></div>
          </ng-template>
        </div>

      <em *ngIf="inputError.make ? true : false">Select Make from suggestions!</em>
        <!-- <em *ngIf="!validateMake() && queryForm.controls.make.errors.pattern">Make must start with a Year*</em> -->
      </div>

      <div class="form-group" (mouseenter)="buttonError = !buttonError" (mouseleave)="buttonError = !buttonError">
        <button class="button" type="submit" [disabled]="queryForm.invalid">Search Records</button>
      </div>

      <div class="form-group">
        <button class="button" type="reset" (click)="clearInputField('all')">Clear Form</button>
      </div>
    </form>

  </div>
</div>