.formContainer {
	padding: 20px 0;
	box-shadow: 0 0 35px rgba($color: #000000, $alpha: 0.09);
	form {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		.form-group {
			height: 100%;
			margin-bottom: 15px;
		}
	}
}


.ng-autocomplete {
	width: auto;
}

@media screen and (min-width: 0px) {
	.formContainer form {
		flex-direction: column;

		.form-group{
			width: auto;
		}
	}
}

@media screen and (min-width: 768px) {
	.formContainer form {
		flex-direction: row;

		.form-group{
			width: 100%;
		}
		.form-group:not(:first-child){
			width: 48%;
		}
	}
}

@media screen and (min-width: 1280px) {
	.formContainer form {

		.form-group{
			width: auto!important;
			margin-right: 15px;
		}
	}
}