@import "./variables";
@import url('https://fonts.googleapis.com/css?family=Lato|Nunito&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Nunito', sans-serif;

	h1,
	h2,
	h3,
	h4 {
		font-family: 'Lato', sans-serif;
	}
}

a {
	color: #111;
	text-decoration: none;
}

ul,
ol {
	list-style: none;
}

.button {
	min-width: 180px;
	// width: 100%;
	height: 40px;
	border: 1px solid $primary-color;
	background-color: $primary-color;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	transition: .3s;

	&:disabled {
		cursor: no-drop;
		background-color: rgba($color: $primary-color, $alpha: 0.8);
	}

	&:not(:disabled):hover {
		background-color: #fff;
		color: #4e4e4e;
	}

	&:focus {
		outline: $primary-color auto 1px;
	}
}

.button-transparent {
	border: 0;
	padding: 3px 15px;
	background-color: transparent;
	text-decoration: underline;
	cursor: pointer;
	outline: 0;

	&:hover {
		color: $primary-color;
	}
	&:focus {
		color: $primary-color;
	}
}

.position-relative {
	position: relative;
}
/* flex box */
.row-flex {
	display: flex;
	flex-wrap: wrap;
}
.column-flex {
	display: flex;
	flex-direction: column;
}

.flex-center {
	justify-content: center;
}

.flex-space-between {
	justify-content: space-between;
}

.flex-space-around {
	justify-content: space-around;
}

.item-center {
	align-items: center;
}

.ng-autocomplete {
	width: auto !important;
}
/* You can add global styles to this file, and also import other style files */
.autocomplete-container .suggestions-container.is-visible {
	top: 100%;
	left: 0;
	z-index: 3;

	&::-webkit-scrollbar {
		width: 10px;
	}

	&::-webkit-scrollbar-track {
		background: #f1f1f1;
	}

	&::-webkit-scrollbar-thumb {
		background: $primary-color;
	}

	&::-webkit-scrollbar-thumb:hover {
		background: #555;
	}
}

.formContainer .autocomplete-container .not-found {
	z-index: 2;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.05);
}

.formContainer .autocomplete-container {
	box-shadow: none;
}

form .autocomplete-container .input-container input {
	border: 1px solid #d6d2d2;
	box-shadow: none;
	font-size: 16px;
	height: 40px;
	margin-bottom: 5px;

	&:focus {
		box-shadow: 0 0 1px 1px $primary-color;
	}
}

.error .autocomplete-container .input-container input {
	border-left-color: $danger-color;
	border-left-width: 4px;
	background-color: #f5eeee;

	&:focus {
		border-left-color: $danger-color;
		border-left-width: 4px;
		background-color: #f5eeee;
	}
}

.form-group {
	position: relative;

	em {
		font-size: 14px;
		color: red;
	}
}

@media screen and (min-width: 0px) {
	.container {
		max-width: 500px;
		margin: auto;
		padding: 0 20px;
	}
	.form-group {
		em {
			position: relative;
			font-size: 14px;
			color: red;
		}
	}
}

@media screen and (min-width: 776px) {
	.container {
		max-width: 680px;
		margin: auto;
	}
}

@media screen and (min-width: 991px) {
	.container {
		max-width: 900px;
	}
}

@media screen and (min-width: 1198px) {
	.container {
		max-width: 990px;
	}
}

@media screen and (min-width: 1280px) {
	.container {
		max-width: 1200px;
	}
}

@media screen and (min-width: 1440px) {
	.container {
		max-width: 1350px;
	}
}

// print media
@media print {
	body,
	.card {
		-webkit-print-color-adjust: exact !important;
	}

	header {
		display: none;
	}

	.formContainer {
		display: none;
	}

	.view-and-print {
		display: none;
	}

	#insurance-list {
		padding: 0;
	}
}
